/* PC */
@media (min-width: 1200px) and (max-width: 1919px) {
}

/* Notebook */
@media (min-width: 992px) and (max-width: 1119px) {
}

body {
    min-width: 1500px;
    max-width: 1919px;
}

* {
    margin:0;
    padding:0;
    border:0;
}

/* Cabeçalho */
.barraTop {
    background-color: #fcf7f7;
    width: 100%;
    display: inline-block;
    height: fit-content;
    padding-bottom: 2px;
}

.info {
    font-size: 11px;
    float: left;
    display: flex;
    margin-left: 12%;
    margin-top: 0.8%;
    cursor: pointer;
}

.pesquisa {
    float: right;
    display: block;
    margin-right: 13%;
    margin-top: 0.5%;
}

.button {
    background-color: #30AAA0;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #1E1B54;
}

.input {
    background-color: #f7f7f7;
    border: 1px solid #000;
    border-radius: 2px;
    width: 200px;
    height: 37px;
    display: none;
}

.logos {
    display: grid;
    grid-template-areas:
    "logo logo2";
    grid-template-columns: auto 55%;
}

.logo {
    cursor: pointer;
    grid-area: logo;
    margin-left: 25%;
    margin-top: 3%;

}

.logo2 {
    grid-area: logo2;
    margin-right: 60%;
    margin-top: 1%;
}

/* Menu */
#menu {
    background-color: #1E1B54;
    color: white    ;
    margin-top: 2%;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

#botao {
    background-color: #2F9687;
    border: 1px solid #1E1B54;
    border-radius: 8px;
    padding: 8px;
    max-height: 35px;
    margin-top: 7px;
    margin-left: 3px;
}

#menu #botao a {
    text-decoration: none;
    color: #1E1B54;
    padding: 0;
}

#menu a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    padding: 15px;
}

#menu li{
    border-right: 1px solid #515251;
    display: inline;
    margin: auto;
    height: 50px;
}

#menu li a:hover {
    color:#2F9687;
}

/* Faixa trilha */
.trilha {
    background-color: #30AAA0;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.trilha a {
    text-decoration: none;
    color: white;
}

/* Conteúdo */
#interativo {
    margin: auto 15%;
    display: grid;
    grid-template-areas: 
    "cima"
    "baixo";
}

#sobre {
    margin: 2% 15%;
}

#sobre li{
    list-style: none;
    margin-left: 2%;
}

#sobre li a{
    text-decoration: none;
    color:#000;
}

#sobre li a:hover{
    text-decoration: none;
    color:#30AAA0;
}

#agendamentos {
    margin: 2% 10%;
}

.exames {
    display: grid;
    grid-template-areas:
    "coleta raio-x ultrassom";
    text-align: center;
    margin-top: 2%;
}

.agendar {
    max-width: 320px;
    margin: 4% 0;
}

.inputs {
    border: 1px solid #30AAA0;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5%;
}

#enviar {
    border: 1px solid #1E1B54;
    border-radius: 5px;
    background-color:#30AAA0;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 90%;
}

#enviar:hover {
    border: 1px solid #30AAA0;
    background-color:#1E1B54;
}

.botao {
    border: 1px solid #1E1B54;
    border-radius: 10px;
    background-color:#30AAA0;
    margin-top: 2%;
    text-align: center;
}

.botao:hover {
    background-color:#1E1B54;
    border-color:#30AAA0;
}

.cima {
    margin-top: 3%;
    display: grid;
    grid-template-areas: "1 2";
    text-align: center;
}

.baixo {
    margin-top: 5%;
    display: grid;
    grid-template-areas: "1 2";
    text-align: center;
}

.image {
    width: 135px;
    height: 135px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 3px;
}

/* Rodapé */
.rodape {
    display: block;
    float: bottom;
    margin-top: 2%;
}

.fundoEscuro {
    background-color: #1E1B54;
    color: #ffffff;
    display: grid;
    grid-template-areas:
    "links contato apps";
    padding-left: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.fundoEscuro ul {
    list-style: none;
}

.fundoEscuro a {
    text-decoration: none;
    color: white;
}

.links {
    grid-area: links;
    display: flex;
    flex-direction: column;
}

.contato {
    grid-area: contato;
}

.apps {
    grid-area: apps;
}

.fundoClaro {
    height: 40px;
    background-color: #80b2ad;
    color: #ffffff;
    text-align: center;
    padding-top: 21px;
}

.error {
    color: red;
}