* {
    margin:0;
    padding:0;
    border:0;
}

/* Cabeçalho */
.barraTop {
    background-color: #fcf7f7;
    width: 100%;
    display: inline-block;
    height: fit-content;
    padding-bottom: 2px;
}

.info {
    float: left;
    display: flex;
    cursor: pointer;
}

.pesquisa {
    float: right;
    display: block;
}

.button {
    background-color: #30AAA0;
    color: white;
    border: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #1E1B54;
}

.input {
    background-color: #f7f7f7;
    border: 1px solid #000;
    border-radius: 2px;
    display: none;
}

.logos {
    display: grid;
    grid-template-areas:
    "logo logo2";
    align-items: center;
}

.logo {
    cursor: pointer;
    grid-area: logo;
}

.logo2 {
    grid-area: logo2;
}

/* Menu */
#menu {
    background-color: #1E1B54;
    color: white;
}

#menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu li{
    list-style: none;
    text-align: center;
    width: 30%;
    border-right: 1px solid #515251;
}

#menu li:last-child {
    border: 0;
}

#botao {
    background-color: #2F9687;
    border: 1px solid #1E1B54;
    border-radius: 7px;
}

#botao a {
    text-decoration: none;
    color: #1E1B54;
}

.li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.li a:hover {
    color:#2F9687;
}

/* Faixa trilha */
.trilha {
    background-color: #30AAA0;
    color: #ffffff;
    text-align: center;
}

.trilha a {
    text-decoration: none;
    color: white;
}

/* Conteúdo */
#interativo {
    margin: auto 15%;
    display: grid;
    grid-template-areas: 
    "cima"
    "baixo";
}

#sobre {
    margin: 2% 15%;
}

#sobre li{
    list-style: none;
    margin-left: 2%;
}

#sobre li a{
    text-decoration: none;
    color:#000;
}

#sobre li a:hover{
    text-decoration: none;
    color:#30AAA0;
}

#agendamentos {
    margin: 2% 10%;
}

.exames {
    display: grid;
    grid-template-areas:
    "coleta raio-x ultrassom";
    text-align: center;
    margin-top: 2%;
}

.agendar {
    max-width: 320px;
    margin: 4% 0;
}

.inputs {
    border: 1px solid #30AAA0;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5%;
}

#enviar {
    border: 1px solid #1E1B54;
    border-radius: 5px;
    background-color:#30AAA0;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 90%;
}

#enviar:hover {
    border: 1px solid #30AAA0;
    background-color:#1E1B54;
}

.botao {
    border: 1px solid #1E1B54;
    border-radius: 10px;
    background-color:#30AAA0;
    margin-top: 2%;
    text-align: center;
}

.botao:hover {
    background-color:#1E1B54;
    border-color:#30AAA0;
}

.cima {
    margin-top: 3%;
    display: grid;
    grid-template-areas: "1 2";
    text-align: center;
}

.baixo {
    margin-top: 5%;
    display: grid;
    grid-template-areas: "1 2";
    text-align: center;
}

.image {
    width: 135px;
    height: 135px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 3px;
}

/* Rodapé */
.rodape {
    display: block;
    float: bottom;
    margin-top: 2%;
}

.fundoEscuro {
    background-color: #1E1B54;
    color: #ffffff;
    display: grid;
    grid-template-areas:
    "links contato apps";
    padding-left: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.fundoEscuro ul {
    list-style: none;
}

.fundoEscuro a {
    text-decoration: none;
    color: white;
}

.links {
    grid-area: links;
    display: flex;
    flex-direction: column;
}

.contato {
    grid-area: contato;
}

.apps {
    grid-area: apps;
}

.fundoClaro {
    height: 40px;
    background-color: #80b2ad;
    color: #ffffff;
    text-align: center;
    align-content: center;
    padding: 0.625rem;
}

.error {
    color: red;
}

/* desktop */
@media screen and (min-width: 1024px) {
    *{
        font-size: 1rem;
    }

    #menu a {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.75rem;
    }

    .info {
        margin-left: 12%;
        margin-top: 0.8%;
        font-size: 0.8125rem;
    }

    .pesquisa {
        margin-right: 8%;
        margin-top: 0.5%;
    }

    .input {
        width: 12.5rem;
        height: 2.3125rem;
        margin-top: 0.7%;
    }

    .button {
        padding: 0.75rem;
    }

    #menu {
        padding: 8px;
    }

    #menu li {
        padding: 0.4375rem;
    }

    #botao {
        padding: 10px;
    }

    .logos {
        grid-template-columns: 450px auto;
        margin: 1.4rem 12%;
    }

    .trilha {
        padding: 1.875rem;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        font-size: 0.875rem;
    }

    #menu a {
        font-size: 0.75rem;
    }

    button {
        font-size: 0.625rem;
    }
    
    .info {
        margin-left: 4rem;
        margin-top: 0.8%;
        font-size: 11px;
    }

    .pesquisa {
        margin-right: 2rem;
        margin-top: 0.125rem;
    }

    .input {
        width: 130px;
        height: 2.125rem;
        margin-top: 0.1875rem;
    }

    .button {
        padding: 0.75rem;
    }

    #menu {
        padding: 0.4375rem;
    }

    #menu li {
        padding: 0.4375rem;
    }

    #botao {
        padding: 8px;
    }

    .logos {
        grid-template-columns: 350px auto;
        margin: 1.25rem 10%;
    }

    .trilha {
        padding: 1.25rem;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    *{
        font-size: 8px;
    }

    .logo {
        width: 100px;
    }

    .logo2 {
        width: 100px;
    }

    .fundoEscuro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fundoEscuro div {
        margin-top: 3.125rem;
    }
}